.btn {
  color: #334155;
  border: none;
  padding: 0em 0.7em 0.3em;
  border-radius: 0.3em;
  transition: all 0.5s ease;
}

.btn.delete::before {
  content: '×';
  font-size: 1.3em;
  margin-right: 0.2em;
  opacity: 0.8;
}
.btn.delete {
  color: white;
  background-color: #ef4444;
}
.btn.delete:hover {
  background-color: #dc2626;
}


.btn.link {
  color: #737373;
  background-color: transparent;
}
.btn.link sup {
  padding: 0.5em;
  font-weight: 700;
}
.btn.link:hover {
  color: black;
}


